<ion-view view-title="landing">
  <ion-content>
<body>
<!-- Main Container -->
<div class="container">
  <!-- headerbar -->
  <!-- <header> <a href="">
    <h4>FarmShare</h4>
    </a>
  </header> -->

  <!-- Hero Section -->
  <section class="hero" id="hero">
    <h2 class="hero_header">FARM <span class="light">SHARE</span></h2>
    <p class="tagline">Shareing is caring</p>
  </section>

  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail"><img class="img-rounded" alt="140x140" src="http://placehold.it/350x150" data-holder-rendered="true">
      <h1 class="stats">Eggs</h1>
      <h4>Farm Fresh Eggs</h4>
      <div class="button">More Info</div>
    </div>

    <div class="thumbnail"><img class="img-rounded" alt="140x140" src="http://placehold.it/350x150" data-holder-rendered="true">
      <h1 class="stats">Fresh Produce</h1>
      <h4>Fresh Seasonal Produce</h4>
      <div class="button">More Info</div>
    </div>

    <div class="thumbnail"><img class="img-rounded" alt="140x140" src="http://placehold.it/350x150" data-holder-rendered="true">
      <h1 class="stats">Meat & Poultry</h1>
      <h4>Farm Raised Meat & Poultry</h4>
      <div class="button">More Info</div>
    </div>

    <div class="thumbnail"><img class="img-rounded" alt="140x140" src="http://placehold.it/350x150" data-holder-rendered="true">
      <h1 class="stats">Other Items</h1>
      <h4>Etc...</h4>
      <div class="button">More Info</div>
    </div>


  </div>
  <!-- More Info Section -->
  <footer>
    <article class="footer_column">
      <h3>ABOUT</h3>
      <img src="http://placehold.it/400x200" alt="" width="400" height="200" class="cards"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
    </article>
    <article class="footer_column">
      <h3>LOCATION</h3>
      <img src="http://placehold.it/400x200" alt="" width="400" height="200" class="cards"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
    </article>
  </footer>
  <!-- Footer Section -->
  <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
    <div class="button">subscribe</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2016 - <strong>FarmShare</strong></div>
</div>
<!-- Main Container Ends -->
</body>

</ion-content>
</ion-view>
<div>
  <div ng-repeat="p in data">
    {{p.product}}
  </div>
</div>
