<ion-view view-title="landing">
  <ion-content>
    <video playsinline autoplay muted loop id="bgvid">
        <source src="SunriseonFarm.mp4" type="video/mp4">
    </video>
    <div id="farmshareText">
      <h1 class='mainJumboText'>FarmShare</h1>
      <p class='jumboText'>Directly connecting you to your local farmers.</p>
    </div>
<!-- <div class="bg" id='bround'>
      <div class="customJumbotron">
        <h1>FarmShare</h1>
        <p class="lead">+ Parallax Effect using jQuery</p>
      </div>
    </div> -->
  </ion-content>
</ion-view>
