<ion-view view-title="landing">
  <ion-content>
        <div class="bg"></div>
        <div class="jumbotron">
          <h1>FarmShare</h1>
          <p class="lead">Eliminate the middle man and connect directly with local farms in order to lower costs for responsibly grown food and increase the profit margins for your local farms.</p>
        </div>
        <div class="bg">
          <h1>hey</h1>
        </div>
        <img src="../assets/farm-2.jpg" alt="not working" />
  </ion-content>
</ion-view>
