      <div class="formContain center" ng-show="showMember">
        <h1 class="marginBottom">Member Sign Up</h1>
        <form class="marginLR">
          <label class="marginTop" for="firstName">Please Enter Your Name</label>
          <input type="text" name="firstName" placeholder="First" required/>
          <input type="text" name="lastName" placeholder="Last" required/>
          <label class="marginTop" for="image_url">Profile Picture</label>
          <input type="url" name="image_url"/>
          <label class="marginTop" for="location">Where are you located</label>
          <input type="text" name="location" placeholder="City, State" required/>
        </form>
      </div>

      <div class="formContain" ng-show="showFarmer">
        <h1 class="marginBottom">Grower Sign Up</h1>
        <form class="marginLR">
          <label class="marginTop" for="firstName">Please Enter Your Name</label>
          <input type="text" name="firstName" placeholder="First" required/>
          <input type="text" name="lastName" placeholder="Last" required/>
          <label class="marginTop" for="image_url">Profile Picture</label>
          <input type="url" name="image_url"/>
          <label class="marginTop" for="location">Where are you located</label>
          <input type="text" name="location" placeholder="City, State" required/>
          <label class="marginTop" for="info">Info About Your Farm</label>
          <textarea rows="4" cols="50" name="info"></textarea>
          <label class="marginTop" for="products">What Are You Offering?</label>
          <input type="text" class="products" name="products" placeholder="Entries separated by comma eg: Sweet Corn, Pumpkins, Squash" required/>
        </form>
      </div>
