
 <div>
   <div>
   </div>
   <h1>wow</h1>
   <label class="item-input-wrapper">
         <input ng-model="product.product"
                dir="auto"
                type="text"/>
       </label>
       <label class="marginTop"for="productName">Enter The Product Name</label>
       <input type="text" name="productName" ng-model='product.productName'placeholder="Apples" required/>
       <label class="marginTop" for="description">Prouct Description</label>
       <input type="text" name="description" ng-model='product.description' placeholder="Organic green apples" required/>
       <label class="marginTop"for="productName">Enter The Product Price</label>
       <input type="number" name="productPrice" ng-model='product.price'placeholder="2" required/>
       <span ng-if="product.productName.length > 0">
      <button ng-click="product.submit()">Send</button>
    </span>
 </div>
