<ion-view view-title="productForm">
  <ion-content>
   <div>
     <div class="formContain" ng-show="showProduct">
       <h1 class="marginBottom">Add Product</h1>
       <form class="marginLR" >
         <label class="marginTop"for="productName">Enter The Product Name</label>
         <input type="text" name="productName" ng-model='product.productName'placeholder="Apples" required/>
         <label class="marginTop" for="description">Prouct Description</label>
        <textarea rows="4" cols="50" name="description" ng-model='product.description'></textarea>
         <label class="marginTop"for="productPrice">Enter The Product Price</label>
         <input type="number" name="productPrice" ng-model='product.price'placeholder="2" required/>
         <label class="marginTop"for="isOrganic">Type of Product</label><br>
         <select name="isOrganic" id="singleSelect" ng-model="product.selectType">
          <option value="">---Please select---</option>
          <option value="Organic">Eggs</option>
          <option value="Fresh Produce">Fresh Produce</option>
          <option value="Meat and Poultry">Meat and Poultry</option>
          <option value="Other">Other</option>
        </select><br>
         <label class="marginTop"for="isOrganic">Is this product organic?</label><br>
         <select name="isOrganic" id="singleSelect" ng-model="product.selectOrg">
          <option value="">---Please select---</option>
          <option value="Organic">Organic</option>
          <option value="Non-Organic">Non-Organic</option>
        </select>
        <a href='/#/farm/landing'><button ng-click="product.submit()">Submit</button></a>
        <div id='closeButton'>
          <a href="/#/farm/landing"><button>Close</button></a>
        </div>
      </span>
    </form>
    </div>
   </div>
 </ion-content>
</ion-view>
