  <!-- User Values
-name
-user_image
-location
-favorite
-seeking
-current_subs -->

<ion-view view-title="profile">
  <ion-content>
    <div class='mainContain'>
      <div class='align marginBottom'>
        <div class='userImage'>
        </div>
        <div class='marginTop marginLR'>
          <h1>NAME</h1>
          <h3>LOCATION</h3>
        </div>
      </div>
      <div class="jumbotron align spaceAround">
        <div class='marginLR center'>
          <h3>Current Subscriptions</h3>
        </div>
        <div class='marginLR center'>
          <h3>Seeking</h3>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
