body {
  height: 100%;
  width: 100%;
}
.vidContainer{
  position: fixed;
  max-height: 500px;
  min-width: 100%;
  /*transform: translateY(-40%);*/
  /*transform: translateY(0px);*/
}
video {
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  /*min-height: 40%;*/
  width: auto;
  /*height: 100%;*/
  width: 100%;
  min-width: 100%;
  z-index: 1;
  transform: translateY(-45%);
  /*background-clip: url(/SunriseFarm.mp4);*/
 /*transition: 1s opacity;*/
 /*top: -200px;*/
 margin-bottom: -30%;
}
.stopfade {
   opacity: .5;
}

#farmshareText {
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: white;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 2;
}

.mainJumboText {
  font-size: 5rem !important;
  margin-top: 0;
  letter-spacing: .2rem;
  color: #fff !important;
}
.jumboText {
  color: #fff !important;
  text-decoration: none;
  font-size: 2em !important;
}
/*END OF VIDEO STyLING*/

.flex{
  display: flex;
    justify-content: space-around;
}
.dropContainer{
  width: 25% !important;
  border: black solid 1px;
}
.dropdownClass{
  padding: 5px;
}
.farmSnapshot{
  width: 65%;
  border: black solid 1px;
  margin-right: 20px;

}
.tabs {
  display: none;
}

/*RAD CSS*/
.mainContain{
  padding: 2vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.formContain{
  padding: 2vw;
  width: 50vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 25%;
  margin-top: 2%;
}

.marginTop{
  margin-top: 1vw;
}

.marginBottom{
  margin-bottom: 1vw;
}

.marginLR{
  margin-right: 2vw;
  margin-left: 2vw;
}

.marginLR > input{
  margin-left: 1vw;
  margin-bottom: .5vw;
  padding: .25vw;
  padding-left: .5vw;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
}

.marginLR > textarea{
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 1vw;
  margin-bottom: .5vw;
}

.align{
  display: flex;
  flex-direction: row;
}

.spaceAround{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
}

.userImage{
  height: 20vw;
  width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjfAAAAJDY5MjRlMDhmLWFhMWItNDdlOS1iNTE1LTA4YWQ4Y2ZlYzZiNA.jpg');
  background-position: center;
}

.formButton {
  height: 3vw;
  width: 16vw;
  border-radius: 2em;
}

.products{
  width: 40vw;
}
