body {
  height: 100%;
  width: 100%;
}
.navbar {
  margin: 0 !important;
}
.faqBody{
  background-image: url('/farm_wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.textBox{
  background-color: #ffffff;
  border: 1px solid black;
  color: white;
  text-shadow: .5px .5px .5px .5px;
  background: rgba(0, 0, 0, 0.6);
}
.textBox > a{
  color: white !important;
}
.darkBg{
  background: rgba(0, 0, 0, 0.4);
  width: 100px;
}
.center{
  justify-content: center;
}
.vidContainer{
  position: absolute;
  max-height: 100%;
  max-width: 100%;
}
video {
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  width: 100%;
  max-height: 100%;
  z-index: 1;
  overflow: hidden;
  overflow-y: hidden;
}
.stopfade {
   opacity: .5;
}

.mainJumboText {
  font-size: 3em ;
  letter-spacing: .2rem;
  color: #fff !important;
}
.jumboText {
  color: #fff !important;
  font-size: 1em ;
}
a.linkcursor{
  cursor: pointer !important;
}
#farmshareText {
  font-family: 'Roboto', sans-serif;
  font-size: 100% !important;
  line-height: 3 !important;
  font-weight:100;
  position: absolute;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  color: white !important;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 2;
}
.floatLeft{
  display: block;
  float: left;
  margin-bottom: 0;
  z-index: 4;
  top: 0%;
  transform: translate(0%, -20%);
}
.floatRight {
  display: block;
  float: right;
  margin-bottom: 0;
  z-index: 4;
  transform: translate(0%, -20%);
}
/*END OF VIDEO STyLING*/
.flex{
  display: flex;
  justify-content: space-around;
}
.split{
  justify-content: space-between !important;
}
.loginButton {
  color: #333 !important;
  background-color: transparent !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  position: relative !important;
  display: block !important;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent !important;
  vertical-align: baseline !important;
  padding: 10px 15px;
  width: 100px !important;
  text-decoration: none !important;
}
a#login-sign-in-link.login-link-text {
  color: #777 !important;
  text-decoration: none !important;
}
a#login-sign-in-link.login-link-text:hover {
  color: #333 !important;
  text-decoration: none !important;
}
#login-dropdown-list {
    position: absolute;
    left: -150px !important;
}
.dropContainer{
  width: 25% !important;
  border: black solid 1px;
}
.dropdownClass{
  padding: 5px;
}
.farmSnapshot{
  width: 65%;
  border: black solid 1px;
  margin-right: 20px;

}
.tabs {
  display: none;
}

/*RAD CSS*/
.mainContain{
  padding: 2vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.formContain{
  padding: 2vw;
  width: 50vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 25%;
  margin-top: 2%;
}

.marginTop{
  margin-top: 1vw;
}

.marginBottom{
  margin-bottom: 1vw;
}

.marginLR{
  margin-right: 2vw;
  margin-left: 2vw;
}

.marginLR > input{
  margin-left: 1vw;
  margin-bottom: .5vw;
  padding: .25vw;
  padding-left: .5vw;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
}

.marginLR > textarea{
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 1vw;
  margin-bottom: .5vw;
}

.align{
  display: flex;
  flex-direction: row;
}

.spaceAround{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
}

.userImage{
  height: 20vw;
  width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjfAAAAJDY5MjRlMDhmLWFhMWItNDdlOS1iNTE1LTA4YWQ4Y2ZlYzZiNA.jpg');
  background-position: center;
}

.formButton {
  height: 3vw;
  width: 16vw;
  border-radius: 2em;
}

.products{
  width: 40vw;
}

.navbar {
  margin: 0 !important;

}

@media only screen and (min-width: 1100px) {
#farmshareText {
  font-size:200% !important;
  }
}

@media only screen and (max-width: 800px) {
#farmshareText {
  font-size:60% !important;
  transform: translate(-50%, -60%);
  }
}

@media only screen and (max-width: 400px) {
#farmshareText {
  font-size:50% !important;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -80%);
  }
}
  @media only screen and (max-width: 340px) {
  #farmshareText {
    font-size:50% !important;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 50%;
    }
}
