/*body {
  height: 100%;
  width: 100%;
}*/
.navbar {
  margin: 0 !important;
}
.faqBody{
  background-image: url('/farm_wallpaper.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.textBox{
  background-color: #ffffff;
  border: 1px solid black;
  color: white;
  text-shadow: .5px .5px .5px .5px;
  background: rgba(0, 0, 0, 0.9);
}
.textBox > a{
  color: white !important;
}
.darkBg{
  background: rgba(0, 0, 0, 0.95);
  width: 100px;
}
.center{
  justify-content: center;
}
video.fullscreen {
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
  transform: translate(-50%,-9%);
}
.stopfade {
   opacity: .5;
}

.mainJumboText {
  font-size: 3em ;
  letter-spacing: .2rem;
  color: #fff !important;
}
.jumboText {
  color: #fff !important;
  font-size: 1em ;
}
a.linkcursor{
  cursor: pointer !important;
}
#farmshareText {
  font-family: 'Roboto', sans-serif;
  font-size: 100% !important;
  line-height: 2 !important;
  font-weight:100;
  position: absolute;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  color: white !important;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 2;
  border-radius: 10px;
}
.floatLeft{
  position: absolute;
  color: white !important;
  margin-bottom: 0;
  z-index: 40;
  right: 87%;
  transform: translate(0%, 997%);
  text-decoration: none !important;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  font-size: 140% !important;
  font-weight: bold;
}
.floatRight {
  position: absolute;
  color: white !important;
  margin-bottom: 0;
  z-index: 40;
  left: 89%;
  transform: translate(0%, 997%);
  text-decoration: none !important;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  font-size: 140% !important;
  font-weight: bold;
}
.floatRight > a, .floatLeft > a {
  color: white !important;
}
/*END OF VIDEO STyLING*/
.flex{
  display: flex;
  justify-content: space-around;
}
.split{
  justify-content: space-between !important;
}
.loginButton {
  color: #333 !important;
  background-color: transparent !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  position: relative !important;
  display: block !important;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent !important;
  vertical-align: baseline !important;
  padding: 10px 15px;
  width: 100px !important;
  text-decoration: none !important;
}
a#login-sign-in-link.login-link-text {
  color: #777 !important;
  text-decoration: none !important;
}
a#login-sign-in-link.login-link-text:hover {
  color: #333 !important;
  text-decoration: none !important;
}
#login-dropdown-list {
    position: absolute;
    left: -150px !important;
}
.dropContainer{
  width: 25% !important;
  border: black solid 1px;
}
.dropdownClass{
  padding: 5px;
}
.farmSnapshot{
  width: 65%;
  border: black solid 1px;
  margin-right: 20px;

}
.tabs {
  display: none;
}

/*RAD CSS*/
.mainContain{
  padding: 2vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.formContain{
  padding: 2vw;
  width: 50vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 25%;
  margin-top: 1%;
  background-color: rgba(214, 214, 214, .6)
}

.marginTop{
  margin-top: 1vw;
}

.marginBottom{
  margin-bottom: 1vw;
}

.marginLR{
  margin-right: 2vw;
  margin-left: 2vw;
}

.marginLR > input{
  margin-left: 1vw;
  margin-bottom: .5vw;
  padding: .25vw;
  padding-left: .5vw;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
}

.marginLR > textarea{
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 1vw;
  margin-bottom: .5vw;
}

.align{
  display: flex;
  flex-direction: row;
}

.spaceAround{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
}
.center2{
  text-align: center;
}

.userImage{
  height: 20vw;
  width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjfAAAAJDY5MjRlMDhmLWFhMWItNDdlOS1iNTE1LTA4YWQ4Y2ZlYzZiNA.jpg');
  background-position: center;
}

.formButton {
  height: 3vw;
  width: 16vw;
  border-radius: 2em;
}

.products{
  width: 40vw;
}

.navbar {
  margin: 0 !important;

}

@media only screen and (min-width: 1100px) {
#farmshareText {
  font-size:200% !important;
  }
}

@media only screen and (max-width: 800px) {
  video.fullscreen {
    padding: 0;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    /*height: auto;
    width: auto;*/
    z-index: -100;
    /*transform: translate(-50%,-9%);*/
  }
  #farmshareText {
    font-size: 80% !important;
    line-height: 2 !important;
    font-weight:100;
    position: absolute;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    color: white !important;
    left: 50%;
    transform: translate(-50%, 500%);
    z-index: 2;
  }
  .floatLeft{
    position: absolute;
    margin-bottom: 0;
    z-index: 40;
    right: 67%;
    transform: translate(0%, 900%);
    padding: 20px;
    font-size: 80% !important;
  }
  .floatRight {
    position: absolute;
    color: white !important;
    margin-bottom: 0;
    z-index: 40;
    left: 71%;
    transform: translate(0%, 900%);
    padding: 20px;
    font-size: 80% !important;
  }
}

@media only screen and (max-width: 400px) {
  video.fullscreen {
    padding: 0;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    /*height: auto;
    width: auto;*/
    z-index: -100;
    /*transform: translate(-50%,-9%);*/
  }
  #farmshareText {
    font-size: 90% !important;
    line-height: 2 !important;
    font-weight:100;
    position: absolute;
    background: rgba(0,0,0,0.7);
    padding: 5px;
    color: white !important;
    left: 50%;
    transform: translate(-50%, 175%);
    z-index: 2;
  }
  .floatLeft{
    position: absolute;
    margin-bottom: 0;
    z-index: 40;
    right: 67%;
    transform: translate(0%, 900%);
    padding: 20px;
    font-size: 80% !important;
  }
  .floatRight {
    position: absolute;
    color: white !important;
    margin-bottom: 0;
    z-index: 40;
    left: 71%;
    transform: translate(0%, 900%);
    padding: 20px;
    font-size: 80% !important;
  }
}

.scroll {
  background-color:rgb(43, 42, 42)
}

.btn btn-default  {
  margin: auto;
}
