video {
  padding: 0;
  margin-top: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-clip: url(/SunriseFarm.mp4) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#farmshareText {
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 40%;
  margin-top: 350px;
  margin-left: 30%;
}
.mainJumboText {
  font-size: 6rem !important;
  margin-top: 0;
  letter-spacing: .3rem;
}

.jumboText {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  /*background:rgba(0,0,0,0.3);*/
  padding: .5rem;
  /*transition: .6s background;*/
  font-size: 2.5em;
}
/*END OF VIDEO STyLING*/


.tabs {
  display: none;
}

/*RAD CSS*/
.mainContain{
  padding: 2vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.formContain{
  padding: 2vw;
  width: 50vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 25%;
  margin-top: 2%;
}

.marginTop{
  margin-top: 1vw;
}

.marginBottom{
  margin-bottom: 1vw;
}

.marginLR{
  margin-right: 2vw;
  margin-left: 2vw;
}

.marginLR > input{
  margin-left: 1vw;
  margin-bottom: .5vw;
  padding: .25vw;
  padding-left: .5vw;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
}

.marginLR > textarea{
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
  margin-left: 1vw;
  margin-bottom: .5vw;
}

.align{
  display: flex;
  flex-direction: row;
}

.spaceAround{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
}

.userImage{
  height: 20vw;
  width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjfAAAAJDY5MjRlMDhmLWFhMWItNDdlOS1iNTE1LTA4YWQ4Y2ZlYzZiNA.jpg');
  background-position: center;
}

.formButton {
  height: 3vw;
  width: 16vw;
  border-radius: 2em;
}

.products{
  width: 40vw;
}
