/* CSS declarations go here */
.bg {
  background: url('../images/farm_wide_shot.jpg');
  position: fixed;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.customJumbotron {
  height: 350px;
  width: 100%;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
}

.tabs {
  display: none;
}

/*RAD CSS*/
.mainContain{
  padding: 2vw;
}

.marginTop{
  margin-top: 1vw;
}

.marginBottom{
  margin-bottom: 1vw;
}

.marginLR{
  margin-right: 2vw;
  margin-left: 2vw;
}

.marginLR > input{
  margin-left: 1vw;
  margin-bottom: .5vw;
  padding: .25vw;
  padding-left: .5vw;
  border: .15vw solid rgba(0, 0, 0, .3);
  border-radius: .5em;
}

.align{
  display: flex;
  flex-direction: row;
}

.spaceAround{
  display: flex;
  justify-content: space-between;
}

.center{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
}

.userImage{
  height: 20vw;
  width: 20vw;
  max-height: 20vw;
  max-width: 20vw;
  background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjfAAAAJDY5MjRlMDhmLWFhMWItNDdlOS1iNTE1LTA4YWQ4Y2ZlYzZiNA.jpg');
  background-position: center;
}
